/* dark mode -- utilized from https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8 */
:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
    --content-color: #ffffff;
    --article-title-color: #444444;
}

/* dark mode */
[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #ffffff;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
    --content-color: #424242;
    --article-title-color: #ffffff;
}

body {
  /* dark mode */
  background-color: var(--bg-color);
  color: var(--font-color);
  /*background: #fafafa;
  color: #333333;*/
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  /*color: #444444;*/
  color: var(--secondary-color); /* dark mode */
}

li{
  margin: 10px 0;
}

a {
    color: var(--primary-color); /* dark mode */
}

/*dark mode - Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: flex-end;


}

em {
    margin-left: 5px;
    margin-bottom: 7px;
    font-size: 1rem;
    color: #cbd5db;
  }

.theme-switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 50px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 16px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 16px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

/*dark mode - closing*/

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: var(--content-color); /* dark mode */
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: var(--article-title-color); /* dark mode */
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
