<!-- extend from layout html -->
{% extends 'layout.html' %}

{% block content %}
    <div class="content-section">
        <h1>Anime recommendations for: {{ anime_name }}</h1>
        <div class="row">
        {% for r in recs %}
              <div class="col-md-4">
                  <h3> </h3>
                  <div style="max-width: 150px" >
                      <img class="img-fluid" src="{{ r[1] }}" alt="image_is_broken"/>
                  </div>
                  <h3> </h3>
                  <h3>{{ r[0] }}</h3>
              </div>
        {% endfor %}
        </div>
    </div>

{% endblock content %}