<!-- extend from layout html -->
{% extends 'layout.html' %}

{% block content %}
    <div class="content-section">
        <h1>Publications</h1>
        <ul style="list-style-type:disc">

            <li><b>H. Syed</b>, R. Bryla, Uttam Kumar Majumder, D. Kudithipudi,
                <b>"Towards Near Real-Time Training with Semi-Random Deep Neural Networks and Tensor-Train Decomposition"</b>,
                <i>IEEE Transactions on Aerospace and Electronic Systems</i>,
                Forthcoming 2019.
            </li>

            <li><b>H. Syed</b>,
                <b>"Performance Analysis of Fixed-Random Weights in Artificial Neural Networks"</b>,
                Master's Thesis, Department of Computer Engineering, RIT, Forthcoming 2019.
            </li>

            <li>
                <b>H. Syed</b>, R. Bryla, Uttam Kumar Majumder, D. Kudithipudi,
                <b>"Semi-Random Deep Neural Networks for Near Real-Time Target Classification</b>",
                <i>Proceedings of the SPIE 10987, Algorithms for Synthetic Aperture Radar Imagery XXVI</i>,
                Baltimore, MD, 2019.
                <a href="http://spie.org/Publications/Proceedings/Paper/10.1117/12.2520237" target="_blank">spie.org/Publications/Proceedings/Paper/10.1117/12.2520237</a>
            </li>

            <li>
                H. F. Langroudi, C. Merkel, <b>H. Syed</b>, D. Kudithipudi,
                <b>"Exploiting Randomness in Deep Learning Algorithms"</b>,
                <i>Proceedings of the 2019 International Joint Conference on Neural Networks (IJCNN)</i>,
                Budapest, Hungary, 2019.
                <a href="https://ieeexplore.ieee.org/abstract/document/8852192" target="_blank">ieeexplore.ieee.org/abstract/document/8852192</a>
            </li>

            <li>
                Z. Carmichael, <b>H. Syed</b>, D. Kudithipudi,
                <b>"Analysis of Wide and Deep Echo State Networks for Multiscale Spatiotemporal Time Series Forecasting"</b>,
                <i>ACM International Conference Proceedings Series (ICPS) of the Neuro Inspired Computational Elements (NICE) Workshop</i>,
                Albany, NY, 2019.
                <a href="https://arxiv.org/abs/1908.08380" target="_blank">arxiv.org/abs/1908.08380</a>
            </li>

            <li>
                Z. Carmichael, <b>H. Syed</b>, S. Burtner, D. Kudithipudi,
                <b>"Mod-DeepESN: Modular Deep Echo State Network"</b>,
                <i>Annual Conference on Cognitive Computational Neuroscience</i>,
                Philadelphia, PA, 2018.
                <a href="https://arxiv.org/abs/1808.00523" target="_blank">arxiv.org/abs/1808.00523</a>
            </li>

        </ul>
    </div>

{% endblock content %}